{% load i18n %}
{% load static %}{% load cms_tags %}{% load cms_menu_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ru" }}">
<head>
    {# CMS start #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# CMS end #}
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    {% block extrastyle %}{% endblock extrastyle %}
    {# CMS start #}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&subset=latin%2Clatin-ext" />
    <link rel="stylesheet" type="text/css" href="{% static "cms/css/font-awesome.min.css" %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static "cms/css/cms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "cms/css/themes/default.css" %}" />
    {% autoescape off %}{% render_custom_style %}{% endautoescape %}
    {% comment %} <link type="text/css" rel="stylesheet" href="/static/cms/css/themes/sunrise.css" /> {% endcomment %}
    {% block cms_extrastyle %}{% endblock cms_extrastyle %}
    {# CMS end #}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
    {% block extrahead %}{% endblock extrahead %}
    {# CMS start #}
    <script type="text/javascript">
        // необходимо для установки пути к файлу cookie
        window.__admin_url = '{% url 'admin:index' %}';
        // имя файла cookie
        window.__cms_cookie_name = 'CMSSettings';

        // нам нужен jQuery в пространстве имен по умолчанию (не django.jQuery), потому что мы используем некоторые внешние плагины jQuery
        if (typeof jQuery == 'undefined') {
            // мы можем получить объект jQuery из объекта django, но есть некоторые шаблоны администратора, в которых jQuery не загружается
            if (typeof django == 'undefined' || typeof django.jQuery == 'undefined') {
                // так что давайте загрузим наш jQuery синхронно
                document.write(decodeURI("%3Cscript src='{% static "cms/js/lib/jquery.min.js" %}' type='text/javascript'%3E%3C/script%3E"));
            } else {
                // чтобы не копировать jQuery из объекта django в пространство имен по умолчанию
                var jQuery = django.jQuery;
            }
        }
    </script>
    <script type="text/javascript" src="{% static "cms/js/lib/jquery.cookie.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/menus.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/content.js" %}"></script>
    {% block cms_extrahead %}{% endblock cms_extrahead %}
    {# CMS end #}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock blockbots %}
</head>
{% load i18n %}

{% comment %} {% show_breadcrumbs %} {% endcomment %}
{% is_left_menu_enabled %}
<body class="
    {% if is_popup %}
        popup
    {% endif %}
    {% if not show_breadcrumbs %}
        cms-no-breadcrumbs
    {% endif %}
    {% if is_left_menu_enabled %}
        cms-with-left-menu
    {% endif %}
    {% block bodyclass %}
    {% endblock bodyclass %}">

    <!-- Wrapper -->
    <div id="wrapper">
        {% if not is_popup %}
            {% block adminmenu %}
                {% render_left_menu %}
            {% endblock adminmenu %}
        {% endif %}

        <!-- Container -->
        <div id="container">

            {% if not is_popup %}
                {% block adminbar %}
                    {% render_top_menu %}
                {% endblock adminbar %}
                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                        {% if title %}&rsaquo; {{ title }}{% endif %}
                    </div>
                {% endblock breadcrumbs %}
            {% endif %}

            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                            <li {% if message.tags %}
                                    class="{{ message.tags }}"
                                {% endif %}>
                                    {{ message|capfirst }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock coltype %}">
                {% block pretitle %}{% endblock pretitle%}
                {% block content_title %}
                    {% if title %}
                        <h1>{{ title }}</h1>
                    {% endif %}
                {% endblock content_title %}
                {% block content %}
                    {% block object-tools %}{% endblock object-tools %}
                    {{ content }}
                {% endblock content%}
                {% block sidebar %}{% endblock sidebar %}
                <br class="clear" />
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock footer %}
        </div>
        <!-- END Container -->

    </div>
    <!-- END Wrapper -->
</body>
</html>