{% load i18n %}{% load static %}{% load cms_tags %}{% load cms_menu_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ru" }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title%}</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" /> {% endcomment %}
    {% block extrastyle %}{% endblock extrastyle %}

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">

    {% comment %} {% autoescape off %}{% render_custom_style %}{% endautoescape %} {% endcomment %}

    {% comment %} {% block cms_extrastyle %}{% endblock cms_extrastyle %} {% endcomment %}
    {# CMS end #}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
    {% block extrahead %}{% endblock extrahead %}
    {# CMS start #}
    {% comment %} <script type="text/javascript">
        // необходимо для установки пути к файлу cookie
        window.__admin_url = '{% url 'admin:index' %}';
        // имя файла cookie
        window.__cms_cookie_name = 'CMSSettings';

        // нам нужен jQuery в пространстве имен по умолчанию (не django.jQuery), потому что мы используем некоторые внешние плагины jQuery
        if (typeof jQuery == 'undefined') {
            // мы можем получить объект jQuery из объекта django, но есть некоторые шаблоны администратора, в которых jQuery не загружается
            if (typeof django == 'undefined' || typeof django.jQuery == 'undefined') {
                // так что давайте загрузим наш jQuery синхронно
                document.write(decodeURI("%3Cscript src='{% static "cms/js/lib/jquery.min.js" %}' type='text/javascript'%3E%3C/script%3E"));
            } else {
                // чтобы не копировать jQuery из объекта django в пространство имен по умолчанию
                var jQuery = django.jQuery;
            }
        }
    </script> {% endcomment %}
    <script type="text/javascript" src="{% static "cms/js/lib/jquery.cookie.min.js" %}"></script>
    {% comment %} <script type="text/javascript" src="{% static "cms/js/menus.js" %}"></script> {% endcomment %}
    <script type="text/javascript" src="{% static "cms/js/content.js" %}"></script>
    {% comment %} {% block cms_extrahead %}{% endblock cms_extrahead %} {% endcomment %}
    {# CMS end #}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock blockbots %}

</head>

{% load i18n %}

{% comment %} {% is_left_menu_enabled %} {% endcomment %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CMS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Панель управления</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% comment %} Администрирование {% endcomment %}
                {{ title }}
            </div>

            <!-- Nav Item - Pages Collapse Menu 
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Пользователи и группы</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="#">Группы</a>
                        <a class="collapse-item" href="#">Пользователи</a>
                    </div>
                </div>
            </li>-->

            <!-- Nav Item - Pages Collapse Menu -->
            {% comment %} {% if is_user_allowed and menu.children %} {% endcomment %}
            {% if app_list %}
                {% for app in app_list %}
            <li class="nav-item">
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>{% blocktranslate with name=app.name %} {{ name }} {% endblocktranslate %}</span>
                    {% comment %} <span>Администрирование сайта</span> {% endcomment %}
                </a>
                {% comment %} <h6>{{app_list}}</h6> {% endcomment %}
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% comment %} {% if app_list %}
                            {% for app in app_list %} {% endcomment %}
                                {% for model in app.models %}
                                    {% if model.admin_url %}
                                    <a class="collapse-item" href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>{% translate model.name %}</a></th>
                                    {% else %}
                                    <a class="collapse-item" href="#">{{ model.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% comment %} {% endfor %}
                        {% endif %} {% endcomment %}
                    </div>
                </div>
                
            </li>
            {% endfor %}
                {% endif %}
            
            {% comment %} {% endif %} {% endcomment %}

            <!-- Nav Item - Utilities Collapse Menu 
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Сайты</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6> 
                        <a class="collapse-item" href="#">Сайты</a>
                    </div>
                </div>
            </li>-->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Администрирование сайта
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Пользователи и группы</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% comment %} <h6 class="collapse-header">Пользователи и группы:</h6> {% endcomment %}
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/auth/group">Группы</a>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/auth/user">Пользователи</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Сайты</span>
                </a>
                <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% comment %} <h6 class="collapse-header">Пользователи и группы:</h6> {% endcomment %}
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/sites/site/">Сайты</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS)
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a> -->
                            <!-- Dropdown - Messages 
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>-->

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    {% trans 'Welcome,' %} <strong>{% firstof user.get_short_name user.get_username %}</strong>
                                </span>
                                <img class="img-profile rounded-circle" src="{% static "img/undraw_profile.svg" %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                {% if user.has_usable_password %}
                                <a class="dropdown-item" href="{% url 'admin:password_change' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> {% trans 'Change password' %}
                                </a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> {% trans 'Log out' %}
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid {% block coltype %}colM{% endblock coltype %}">
                    {% block messages %}
                        {% if messages %}
                            <ul class="messagelist">
                                {% for message in messages %}
                                    <li {% if message.tags %}
                                            class="{{ message.tags }}"
                                        {% endif %}>
                                            {{ message|capfirst }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock messages %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        {% block content_title %}{% if title %}<h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>{% endif %}{% endblock content_title %}
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                    
                        {% block content %}
                            {% block object-tools %}
                            {% endblock object-tools %}
                            {{ content }}
                        {% endblock content%}

                        {% block sidebar %}{% endblock sidebar %}
                    </div> 

                </div>
                <!-- /.container-fluid -->

            

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
            
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выйти?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Выберите «Выход», расположенную ниже, если вы будете готовы завершить текущий сеанс.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-primary" href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin-2.min.js"  %}"></script>

    <!-- Page level plugins -->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

    <!-- Page level custom scripts -->
    <!-- <script src="js/demo/chart-area-demo.js"></script> -->
    <!-- <script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>