{% load i18n %}{% load admin_urls %}
{% comment %} <div class="submit-row"> {% endcomment %}
{% block submit-row %}
{% if show_save %}
    <button title="{% trans 'Save' %}" type="submit" name="_save">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        {% if is_popup %}
            <i class="fa fa-lg fa-times"></i>
        {% else %}
            <i class="fa fa-lg fa-list-alt"></i>
        {% endif %}
            <span class="text">{% trans 'Save' %}</span>
    </button>
    {% comment %} <input type="submit" value="{% translate 'Save' %}" class="default" name="_save"> {% endcomment %}
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box">
        <a href="{% add_preserved_filters delete_url %}" class="deletelink">
            <i class="fa fa-lg fa-question"></i>
            <i class="fa fa-caret-right"></i>
            <i class="fa fa-trash-o fa-lg"></i>
            <span class="text">{% translate "Delete" %}</span>
        </a>
    </p>
{% endif %}
{% if show_save_as_new %}
    {% comment %} <input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew"> {% endcomment %}
    <button title="{% trans 'Save as new' %}" type="submit" name="_saveasnew">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-lg fa-files-o"></i>
        <span class="text">{% trans 'Save as new' %}</span>
    </button>
{% endif %}
{% if show_save_and_add_another %}
    {% comment %} <input type="submit" value="{% translate 'Save and add another' %}" name="_addanother"> {% endcomment %}
    <button title="{% trans 'Save and add another' %}" type="submit" name="_addanother">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-lg fa-plus-square-o"></i>
        <span class="text">{% trans 'Save and add another' %}</span>
    </button>
{% endif %}
{% if show_save_and_continue %}
    {% comment %} <input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue"> {% endcomment %}
    <button title="{% trans 'Save and continue editing' %}" type="submit" name="_continue">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-lg fa-pencil-square-o"></i>
        <span class="text">{% trans 'Save and continue editing' %}</span>
    </button>
{% endif %}
{% if show_close %}
    <a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-lg fa-pencil-square-o"></i>
        <span class="text">{% translate 'Close' %}</span>
    </a>
{% endif %}
{% endblock %}
{% comment %} </div> {% endcomment %}
