{% load i18n %}{% load cms_menu_tags %}{% load static %}
{% if is_user_allowed %}
    <li class="cms-user-tools cms-menu-top cms-has-submenu cms-menu-not-open
        {% if is_first %} 
            cms-first-item
        {% endif %}
        {% if is_last %} 
            cms-last-item
        {% endif %}" 
        {% if item.css_styles %}
            style="{{ item.css_styles }}"
        {% endif %}>

        <div class="cms-menu-image">
            <a href="javascript:;">
                <img class="cms-small-gravatar" src="{% static "cms/images/avatar16.png" %}" width="16" height="16" />
            </a>
        </div>
        <a href="javascript:;">
            {% trans 'Welcome,' %} <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        </a>
        <div class="cms-submenu">
            <div class="cms-submenu-wrap">
                <ul>
                    <li {% if not item.url %}
                            class="cms-no-url"
                        {% endif %}>
                        <a href="
                            {% if item.url %}
                                {{ item.url }}
                            {% else %}
                                javascript:;
                            {% endif%}">
                            {% firstof user.first_name user.username %} 
                            <img class="cms-big-gravatar" src="{% static "cms/images/avatar64.png" %}" width="64" height="64" />
                        </a>
                    </li>
                    {% if user.has_usable_password %}
                        <li>
                            <a href="{% url 'admin:password_change' %}">
                                {% trans 'Change password' %}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'admin:logout' %}">
                            {% trans 'Log out' %}
                        </a>
                    </li>
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li>
                            <a href="{{ docsroot }}">
                                {% trans 'Documentation' %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </li>
{% endif %}